@using Nop.Core.Infrastructure;
@using Nop.Core.Domain.Localization
@using Nop.Services.Configuration
@{
//Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @{
            var workContext = EngineContext.Current.Resolve<Nop.Core.IWorkContext>();
            var customer = workContext.CurrentCustomer;

            if (customer != null)
            {
                @Html.Raw("CustomerGuid&nbsp;&nbsp;")  <b>@customer.CustomerGuid</b> <br/>
                @Html.Raw("Username&nbsp;&nbsp;") @customer.Username                <br />
            }

            var settingSerivce = EngineContext.Current.Resolve<ISettingService>();
            var localizationSettings = EngineContext.Current.Resolve<LocalizationSettings>();
            localizationSettings.SeoFriendlyUrlsForLanguagesEnabled = true;

            //settingSerivce.SaveSetting<LocalizationSettings>(localizationSettings);
            @localizationSettings.SeoFriendlyUrlsForLanguagesEnabled
        }
    </div>
</body>
</html>
